/* Estilos generales */
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecdff5;
}

header {
    background-color: #debeeb;
    color: #8e37a8;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(54, 53, 53);
}

main {
    padding: 2rem;
}

/* Sección de contenido principal (dos columnas para resumen y más información) */
.contenido-principal {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

/* Estilo de las secciones */
section {
    background-color: #d1f4f8;
    margin-bottom: 20px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sección de galería de imágenes */
.galeria .imagenes-galeria {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.galeria img {
    max-width: 200px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.05);
}

/* Testimonios */
.testimonios {
    background-color: #c7f2f8;
    padding: 10px;
    margin-bottom: 10px;
    border-left: #79437e;
}

.testimonio {
    background-color: #bcebf3;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #79437e;
}

/* Pie de Página */
footer {
    background-color: #333;
    color: #f3c1c1;
    text-align: center;
    padding: 1rem;
}

/* Diseño Responsivo */
@media (max-width: 768px) {
    .contenido-principal {
        flex-direction: column;
    }

    .galeria .imagenes-galeria {
        flex-direction: column;
    }
}
